*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: cursive;
}
/*section1*/
.uno{
	background-image: url(imagenes/fondo.png);
	width: 100%;
	height: 100vh;
	background-size: cover;
}
.contenedor{
    position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 100px;
	width: 100%;
	height: 100vh;
}
h1{
	font-size: 45px;
	line-height: 70px;
}
h1:first-line{
	font-size: 100px;
}
.contenedor p{
	color: #F8A93E;
}
.div1{
	color: white;
	display: inline;
	width: 90%;
	align-self: center;
	margin-left: 5%;
	grid-column: 1/2;
	grid-row: 1/2;
}
.img{
	width: 85%;
	height: 65%;
	overflow: hidden;
    align-self: center;
    grid-column: 2/3;
    grid-row: 1/2;
    padding: auto;
    padding-left: 5%;
}
.img img{
	width: 100%;
	height: 100%;
	margin-left: 10%;
	margin: auto;
}

ul{
	display: flex;
	position: absolute;
	left: 50%;
	bottom: 20px;
	transform: translateX(-50%);
}
ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	cursor: pointer;
	transform: 0.5s;
	align-self: center;
}
ul li img{
	max-width: 100px;
	max-height: 50px;
}
ul li img:hover{
	transform: translateY(-50%);
	transition: 1s;
}

.dos{
	background-image: url(imagenes/fondo2.png);
	width: 100%;
	height: 100vh;
	background-size: cover;
	padding-top: 2.5%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contenedor2{

	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 285px 285px;
	width: 90%;
	grid-gap: 15px;
	text-align: center;
	margin: auto;
}
.card1{
	grid-column: 1/2;
	grid-row: 1/2;
	padding: 10px;
	background: rgba(210, 77, 27, 0.4);
	border-radius: 5px;
	color: white;
	box-shadow: -1px 2px 21px 7px rgba(0,0,0,0.55);
-webkit-box-shadow: -1px 2px 21px 7px rgba(0,0,0,0.55);
-moz-box-shadow: -1px 2px 21px 7px rgba(0,0,0,0.55);
}
.card1 img{
	width: 100px;
	height: 100px;
}
.card2{
	grid-column: 2/3;
	grid-row: 1/2;
	background: rgba(210, 77, 27, 0.4);
	border-radius: 5px;
	color: white;
	padding: 10px;
	box-shadow: -1px 2px 21px 7px rgba(0,0,0,0.55);
-webkit-box-shadow: -1px 2px 21px 7px rgba(0,0,0,0.55);
-moz-box-shadow: -1px 2px 21px 7px rgba(0,0,0,0.55);
}
.card2 img{
	width: 100px;
	height: 100px;
}
.card3{
	grid-column: 3/4;
	grid-row: 1/2;
	background: rgba(210, 77, 27, 0.4);
	border-radius: 5px;
	color: white;
	padding: 10px;
	box-shadow: -1px 2px 21px 7px rgba(0,0,0,0.55);
-webkit-box-shadow: -1px 2px 21px 7px rgba(0,0,0,0.55);
-moz-box-shadow: -1px 2px 21px 7px rgba(0,0,0,0.55);
}
.card3 img{
	width: 100px;
	height: 100px;
}
.card4{
	grid-column: 1/2;
	grid-row: 2/3;
	background: rgba(210, 77, 27, 0.4);
	border-radius: 5px;
	color: white;
	padding: 10px;
	box-shadow: -1px 2px 21px 7px rgba(0,0,0,0.55);
-webkit-box-shadow: -1px 2px 21px 7px rgba(0,0,0,0.55);
-moz-box-shadow: -1px 2px 21px 7px rgba(0,0,0,0.55);
}
.card4 img{
	width: 100px;
	height: 100px;
}
.card5{
	grid-column: 2/3;
	grid-row: 2/3;
	background: rgba(210, 77, 27, 0.4);
	border-radius: 5px;
	color: white;
	padding: 10px;
	box-shadow: -1px 2px 21px 7px rgba(0,0,0,0.55);
-webkit-box-shadow: -1px 2px 21px 7px rgba(0,0,0,0.55);
-moz-box-shadow: -1px 2px 21px 7px rgba(0,0,0,0.55);
}
.card5 img{
	width: 100px;
	height: 100px;
}
.card6{
	grid-column: 3/4;
	grid-row: 2/3;
	background: rgba(210, 77, 27, 0.4);
	border-radius: 5px;
	color: white;
	padding: 10px;
	box-shadow: -1px 2px 21px 7px rgba(0,0,0,0.55);
-webkit-box-shadow: -1px 2px 21px 7px rgba(0,0,0,0.55);
-moz-box-shadow: -1px 2px 21px 7px rgba(0,0,0,0.55);
}
.card6 img{
	width: 100px;
	height: 100px;
}